@charset "UTF-8";
/* base */
html {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* Chrome以外での崩れ防止 */
  -webkit-text-size-adjust: 100%;
  /* コンテンツからはみ出ずに文字折り返し */
  word-break: break-all;
  /* 移動したときになめらかにスクロール */
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  font-size: 10px;
}

body {
  font-family: "Yu Mincho", "YuMincho", "游明朝", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* 文字の色 */
  color: #000000;
  /* 一番小さい文字の大きさをとりあえず設定 */
  font-size: 1.8rem;
  line-height: 1.8333333333;
}

#container {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  body {
    font-size: 2rem;
    line-height: 1.8;
  }
  .pc {
    display: none !important;
  }
}
/*-------------------------
   PCのみ
-------------------------*/
@media (min-width: 768px) {
  .sp-br {
    display: none !important;
  }
  a[href^="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}
/* ------------------------
   共通パーツ
------------------------- */
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 98rem;
  margin-inline: auto;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  color: #4D9600;
  letter-spacing: 0.75rem;
}
.section-title p {
  font-size: 2rem;
  line-height: 1.65;
  margin-top: 0.6rem;
  letter-spacing: 0.75rem;
}

/* ------------------------
   ヘッダー
------------------------- */
.header {
  width: 100%;
  height: 8rem;
  padding-inline: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header {
    padding-inline: 2rem;
  }
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (any-hover: hover) {
  .header__logo a:hover {
    opacity: 0.7;
  }
}
.header__logo-text {
  font-weight: bold;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1;
}
.header__nav {
  margin-left: auto;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
.header__nav ul li a {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (any-hover: hover) {
  .header__nav ul li a:hover {
    opacity: 0.7;
  }
}
.header__hamburger {
  display: none;
}
.header__hamburger {
  display: none;
}
@media (max-width: 767px) {
  .header__hamburger {
    display: block;
    width: 4rem;
    height: 3rem;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 99;
  }
  .header__hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #333;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__hamburger span:nth-child(1) {
    top: 0;
  }
  .header__hamburger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__hamburger span:nth-child(3) {
    bottom: 0;
  }
  .header .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__nav.is-open {
    right: 0;
  }
  .header .header__hamburger.is-open span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .header__hamburger.is-open span:nth-child(2) {
    opacity: 0;
  }
  .header .header__hamburger.is-open span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.mv {
  position: relative;
}
.mv__image {
  width: 100%;
  aspect-ratio: 1080/800;
}
@media (max-width: 767px) {
  .mv__image {
    aspect-ratio: 375/600;
  }
}
.mv__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.mv__catch {
  position: absolute;
  top: 51.5%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
@media (max-width: 767px) {
  .mv__catch {
    top: 51.5%;
    left: 50.5%;
  }
}
.mv__catch h2 {
  font-size: 4rem;
  line-height: 1.75;
  letter-spacing: 0.3em;
}
@media (max-width: 767px) {
  .mv__catch h2 {
    font-size: 3rem;
    line-height: 2;
    letter-spacing: 0.3em;
    white-space: nowrap;
  }
}

.about {
  width: 100%;
  position: relative;
}
.about__textwrapper {
  position: absolute;
  top: 23%;
  left: 36.5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .about__textwrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
  }
}
.about__title {
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 0.5rem;
  padding-left: 5rem;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 2.5rem;
    line-height: 1.19;
    padding-left: 0;
  }
}
.about__text-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.3rem;
}
@media (max-width: 767px) {
  .about__text-contents {
    gap: 0.6rem;
  }
}
.about__text {
  font-size: 1.8rem;
  line-height: 1.37;
  letter-spacing: 0.7rem;
}
@media (max-width: 767px) {
  .about__text {
    margin-top: 2.3rem;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: 0.4rem;
  }
}

.service {
  background-color: rgba(77, 150, 0, 0.15);
  padding: 8rem 0 13rem;
}
.service__contents {
  padding-top: 7rem;
}
.service__inner {
  padding: 0 3rem;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.service__item--reverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.service__item--reverse .service__textareaContainer {
  left: auto;
  right: 45.5%;
}
.service__item--reverse .service__textarea {
  padding: 5rem 20rem 4.2rem 4rem;
}
.service__item--reverse .service__textarea-title,
.service__item--reverse .service__textarea-text {
  margin-left: 0;
  margin-right: 5rem;
}
.service__item--reverse .service__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.service__item--reverse .service__image-text {
  width: 100%;
  text-align: right;
  display: block;
}
.service__item:nth-child(2) {
  margin-top: 13rem;
}
.service__item:nth-child(3) {
  margin-top: 13rem;
}
.service__image {
  max-width: 60rem;
  width: 100%;
  height: auto;
  z-index: 2;
}
.service__image img {
  width: 100%;
  display: block;
}
.service__image-text {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 2rem;
}
.service__textareaContainer {
  position: absolute;
  top: 27%;
  left: 45.5%;
  max-width: 50rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.service__textarea {
  padding: 5rem 2.7rem 4.2rem 20rem;
  right: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  color: #ffffff;
  background-color: #4D9600;
}
.service__textarea-title {
  font-size: 2.5rem;
  line-height: 1.32;
  margin-left: 5rem;
}
.service__textarea-text {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin: 1.7rem 0 0 5rem;
  white-space: nowrap;
}

.works {
  width: 100%;
  padding: 8rem 0rem 3rem;
}
@media (max-width: 767px) {
  .works .service {
    padding: 5rem 2rem 4.2rem;
  }
}
.works__inner {
  margin-inline: auto;
  padding: 0 3rem;
}
.works__contents {
  margin: 6.8rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 4.1666666667%;
     -moz-column-gap: 4.1666666667%;
          column-gap: 4.1666666667%;
}
@media (max-width: 767px) {
  .works__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.9rem;
  }
}
.works-item {
  width: 100%;
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-item__textarea {
  padding-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.5625;
}
.works-item__text {
  font-size: 1.6rem;
  line-height: 1.5625;
  padding-top: 0.45rem;
  white-space: nowrap;
}

.news {
  padding: 6rem 0 4rem;
  background-color: rgba(77, 150, 0, 0.15);
}
.news__title {
  padding: 1.5rem;
}
.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 2.5rem;
}
.news__contents {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.news__contents h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  height: 5rem;
  background-color: #4D9600;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.65;
}
.news__lists {
  position: relative;
}
.news__list {
  margin: 3rem 0 0;
  padding-bottom: 1.6rem;
  border-bottom: solid #4D9600 0.1px;
}
.news__list:nth-child(2) {
  margin-top: 2rem;
  padding-bottom: 1.6rem;
}
.news__list:nth-child(3) {
  margin-top: 2rem;
  padding-bottom: 1.6rem;
}
.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2.5rem 0;
  position: relative;
}
.news__date {
  font-size: 1.6rem;
  line-height: 2.0625;
  white-space: nowrap;
}
.news__text {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  margin-left: 6.9rem;
}
.news__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  height: 6rem;
  color: #4D9600;
}
.news__icon p {
  position: absolute;
  top: 5%;
  right: 10%;
}
.news__icon img {
  width: 8rem;
  height: 100%;
}

.campany {
  width: 100%;
  padding: 8rem 0 10rem;
}
.campany__inner {
  padding: 0 3rem;
}
.campany__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6.8rem;
  position: relative;
}
.campany__map {
  width: 60%;
  aspect-ratio: 600/450;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.campany__map iframe {
  width: 100%;
  height: 100%;
  display: block;
}
.campany__textarea {
  background-color: #4D9600;
  color: #ffffff;
  padding: 4.9rem 4rem 6rem 20rem;
  position: absolute;
  top: 45%;
  left: 46%;
  max-width: 50rem;
  width: 100%;
  z-index: 1;
}
.campany .first__text {
  font-size: 2.5rem;
  line-height: 1.32;
}
.campany__textarea-text {
  position: absolute;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin: 1.7rem 0 0 5rem;
  left: auto;
  right: 45.5%;
}
.campany__address {
  font-size: 1.6rem;
  line-height: 25/16;
}
.campany__email {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.contact {
  background-color: rgba(77, 150, 0, 0.15);
  padding: 8rem 0 8rem;
}
.contact__inner {
  padding: 0 3rem;
  margin-inline: auto;
}
.contact__lead {
  font-size: 2rem;
  line-height: 1.65;
  margin: 3.5rem 0 0 9rem;
}
.contact__form {
  width: 100%;
  max-width: 80rem;
  margin: 7rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 5rem;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__row > label, .contact__row > p {
  width: 17rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 2rem;
  line-height: 1.65;
}
.contact input[type=text],
.contact input[type=email],
.contact select,
.contact textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  background: #fff;
  color: #A0A0A0;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.contact textarea {
  min-height: 20rem;
  resize: vertical;
}
.contact select {
  cursor: pointer;
}
.contact__radio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.4rem;
}
.contact__radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9rem;
  width: auto;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.contact input[type=radio],
.contact input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  position: relative;
}
.contact input[type=radio]:checked {
  border-color: #4D9600;
}
.contact input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background: #4D9600;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contact input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid #fff;
  border-radius: 0;
  background: #fff;
  cursor: pointer;
  position: relative;
}
.contact input[type=checkbox]:checked {
  background: #4D9600;
  border-color: #4D9600;
}
.contact input[type=checkbox]:checked::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 1.4rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contact__row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}
.contact__row-content textarea {
  margin-top: 1rem;
}
.contact__row-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__check {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 3rem;
  margin-top: 1rem;
}
.contact__check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: auto;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.contact__row-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__policy {
  width: 100%;
  height: 30rem;
  padding: 2rem;
  background: #fff;
  border: 1px solid #ddd;
  overflow: auto;
}
.contact__policy p {
  font-size: 1.8rem;
  line-height: 1.7222222222;
  white-space: pre-line;
}
.contact__btn {
  width: 30rem;
  height: 5rem;
  margin: 4rem auto 0;
  border: none;
  background: #4D9600;
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact__btn:hover {
  opacity: 0.8;
}

.footer {
  padding: 6rem 0 0 0;
}
.footer__company {
  text-align: center;
  padding: 2rem 0 3rem;
  font-size: 2rem;
  line-height: 1.65;
}
.footer__nav {
  position: relative;
  padding: 3rem 4rem;
  border-top: solid 0.1px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__list li {
  list-style: none;
}
.footer__list a {
  color: #000000;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__list a:hover {
  color: #4D9600;
}
.footer__sns {
  margin-bottom: 3rem;
  padding-bottom: 5rem;
}
.footer__sns .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.footer__sns .sns-list li {
  list-style: none;
}
.footer__sns .sns-list a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__sns .sns-list a:hover {
  opacity: 0.7;
}
.footer__sns .sns-list img {
  width: 2.4rem;
  height: 2.4rem;
}
.footer__copyright {
  background-color: #4D9600;
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
  text-align: center;
  padding: 3rem 0;
}