$font-color-black: #000000;
$font-color-white: #ffffff;
$color-main: #4D9600;
$color-background: rgba(77, 150, 0, 0.15);
$font-family: "Yu Mincho", "YuMincho", "游明朝", serif;

$breakpoints: (
    sp: "screen and (max-width: 767px)",
    tab: "screen and (min-width: 768px) and (max-width: 1023px)",
    pc: "screen and (min-width: 1024px)",
);

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* base */
html {
    -webkit-appearance: none;
    appearance: none;
    /* Chrome以外での崩れ防止 */
    -webkit-text-size-adjust: 100%;
    /* コンテンツからはみ出ずに文字折り返し */
    word-break: break-all;
    /* 移動したときになめらかにスクロール */
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    font-size: 10px;
}

body {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    /* 文字の色 */
    color: $font-color-black;
    /* 一番小さい文字の大きさをとりあえず設定 */
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    // headerの高さ分の余白を上に作る
    // margin-top: 5rem;
}

// modal用、画像拡大の間は背景のスクロール禁止
body.is-fixed {
    overflow: hidden;
}

// fade in用
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .8s ease, transform .8s ease;

    &.is-show {
        opacity: 1;
        transform: translateY(0);
    }
}

#container {
    width: 100%;
    overflow: hidden;
}

/// SP対応のためのメディアクエリ

@media (max-width: 767px) {
    body {
        font-size: 2rem;
        line-height: calc(36 / 20);
    }

    .pc {
        display: none !important;
    }
}

// PCのみ
/*-------------------------
   PC・SPのみ
-------------------------*/
.pc-br {
    display: block;

    @media (max-width: 767px) {
        display: none;
    }
}

@media (min-width: 768px) {
    .sp-br {
        display: none !important;
    }


    a[href^="tel:"] {
        pointer-events: none;
        cursor: default;
    }
}


/* ------------------------
   共通パーツ
------------------------- */


img {
    width: 100%;
    height: auto;
    display: block;
}

.inner {
    max-width: 98rem;
    margin-inline: auto;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 3rem;
        line-height: calc(33 / 30);
        color: $color-main;
        letter-spacing: 0.75rem;
        // padding-left: 5rem;

        @media (max-width: 767px) {}
    }

    p {
        font-size: 2rem;
        line-height: calc(33 / 20);
        margin-top: 0.6rem;
        letter-spacing: 0.75rem;
    }
}

// ページトップアイコン
.page-top {
    position: fixed;
    right: 3rem;
    bottom: 3rem;

    width: 6.8rem;
    height: 6.8rem;

    border-radius: 50%;
    background-color: $color-main;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        transform: scale(1.1);
    }

    span {
        width: 1.4rem;
        height: 1.4rem;

        border-top: 0.3rem solid $font-color-white;
        border-right: 0.3rem solid $font-color-white;

        transform: rotate(-45deg) translate(2px, 2px);
    }

    @include mq(sp) {
        width: 5.6rem;
        height: 5.6rem;
        right: 2rem;
        bottom: 2rem;

        span {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

/* ------------------------
   ヘッダー
------------------------- */
.header {
    width: 100%;
    height: 8rem;
    padding-inline: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        padding-inline: 2rem;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    // ------------------------
    // ロゴ
    // ------------------------
    &__logo {
        a {
            display: flex;
            align-items: center;
            height: 8rem;
            transition: opacity .4s;

            @media (any-hover: hover) {
                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    &__logo-text {
        font-size: 2rem;
        font-weight: bold;
        color: $font-color-white;
    }

    // ------------------------
    // ナビゲーション（PC）
    // ------------------------
    &__nav {
        margin-left: auto;

        ul {
            display: flex;
            align-items: center;
            gap: 3rem;
            height: 8rem;
        }

        li a {
            color: $font-color-white;
            font-size: 1.8rem;
            transition: opacity .3s;

            @media (any-hover:hover) {
                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    // ------------------------
    // ハンバーガー
    // ------------------------
    &__hamburger {
        display: none;
    }

    // ========================
    // SP
    // ========================
    @media (max-width:767px) {

        // ハンバーガーボタン
        &__hamburger {
            background-color: $font-color-white;
            display: block;
            position: relative;
            width: 7%;
            height: 5rem;
            border: none;
            cursor: pointer;
            z-index: 1000;

            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 0.4rem;
                background: $color-main;
                transition: .3s;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }

            &.is-open {
                span:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    top: 50%;
                    bottom: auto;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }

        // ナビ
        &__nav {
            position: fixed;
            top: 7rem;
            right: -100%;
            width: 100%;
            height: 100vh;
            background: $color-main;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: right .3s;
            z-index: 999;

            ul {
                flex-direction: column;
                gap: 3rem;
                height: auto;
            }

            a {
                color: #fff;
                font-size: 2.4rem;
            }

            &.is-open {
                right: -30%;
                top: 7rem;
            }
        }
    }
}

// ========================
//  ファーストビュー
// ========================

.mv {
    position: relative;
    height: 80rem;

    .swiper,
    .swiper-slide,
    .swiper-slide {
        width: 100%;
        height: 100%;
    }

    @include mq(sp) {
        height: 60rem;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


    &__catch {
        position: absolute;
        top: 51.5%;
        left: 51%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $font-color-white;
        z-index: 1;

        @media (max-width: 767px) {
            top: 51.5%;
            left: 50.5%;
        }

        h2 {
            font-size: 4rem;
            line-height: calc(70 / 40);
            letter-spacing: 0.3em;
            // margin-bottom: 1rem;

            @media (max-width: 767px) {
                font-size: 3rem;
                line-height: calc(60 / 30);
                letter-spacing: 0.3em;
                white-space: nowrap;
            }
        }
    }
}


.about {
    width: 100%;
    position: relative;


    &__textwrapper {
        position: absolute;
        top: 23%;
        left: 36.5%;
        transform: translate(-50%, 0);

        writing-mode: vertical-rl;
        display: flex;
        flex-direction: column;
        // padding-right: 1rem;

        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            align-items: center;
            justify-content: center;
            padding: 5rem 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__title {

        font-size: 3rem;
        line-height: 1.18;
        letter-spacing: 0.5rem;
        padding-left: 5rem;

        @media (max-width: 767px) {
            font-size: 2.5rem;
            line-height: 1.19;
            padding-left: 0;
        }
    }

    &__text-contents {
        display: flex;
        flex-direction: column;
        gap: 2.3rem;

        @media (max-width: 767px) {
            gap: 0.6rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.37;
        letter-spacing: 0.7rem;

        @media (max-width: 767px) {
            margin-top: 2.3rem;
            font-size: 1.6rem;
            line-height: 1.25;
            letter-spacing: 0.4rem;
        }
    }

}

.service {
    background-color: $color-background;
    padding: 8rem 0 13rem;

    @include mq(sp) {
        padding: 5rem 0 6rem;

    }

    &__contents {
        padding-top: 7rem;

        @include mq(sp) {
            padding-top: 4rem;
        }
    }

    &__inner {
        padding: 0 3rem;

        @include mq(sp) {
            // padding: 0 2rem;
        }
    }

    &__item {
        display: flex;
        position: relative;

        @include mq(sp) {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
        }

        &--reverse {
            justify-content: flex-end;

            .service__textareaContainer {
                left: auto;
                right: 45.5%;
            }

            .service__textarea {
                padding: 5rem 20rem 4.2rem 4rem;
            }

            .service__textarea-title,
            .service__textarea-text {
                margin-left: 0;
                margin-right: 5rem;
            }


            .service__image {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .service__image-text {
                width: 100%;
                text-align: right;
                display: block;
            }

            @include mq(sp) {
                justify-content: normal;

                .service__textareaContainer {}

                .service__image {
                    align-items: stretch;
                }

                .service__image-text {
                    font-size: 1.6rem;
                    line-height: calc(25 / 16);
                    text-align: left;
                }

                .service__textarea-title,
                .service__textarea-text {
                    margin-right: 0;
                    white-space: initial;
                }

                .service__textarea-title h3 {
                    font-size: 2rem;
                    line-height: calc(25 / 20);
                }

                .service__textarea {
                    width: 100%;
                    padding: 1rem 1.5rem;
                    transform: none;
                    box-sizing: border-box;

                }
            }
        }
    }

    &__item:nth-child(2) {
        margin-top: 13rem;

        @include mq(sp) {
            margin-top: 5rem;
        }
    }

    &__item:nth-child(3) {
        margin-top: 10.5rem;

        .service__textareaContainer {
            top: 32.5%;
            left: 46%;
        }

        .service__textarea {
            padding: 5rem 4rem 4.2rem 18rem;
            @include mq(sp) {
                padding: 1rem 1.5rem;
            }
        }

        .service__image-text {
            margin-top: 4rem;

            @include mq(sp) {
                margin-top:0.5rem;
        }
    }


        @include mq(sp) {
            margin-top: 5rem;
        }
    }

    &__image {
        max-width: 60rem;
        width: 100%;
        height: auto;
        z-index: 2;

        @include mq(sp) {
            max-width: 100%;
        }

        img {
            width: 100%;
            display: block;
        }

        &-text {
            font-size: 1.6rem;
            line-height: calc(25 / 16);
            margin-top: 2rem;

            @include mq(sp) {
                margin-top: 0rem;
                text-align: left;
            }
        }
    }

    &__textareaContainer {
        position: absolute;
        top: 27%;
        left: 45.5%;
        max-width: 50rem;
        width: 100%;
        display: flex;
        z-index: 1;


        @include mq(sp) {
            position: static;
            top: auto;
            left: auto;
            right: auto;
            width: 100%;
            max-width: none;
        }
    }

    &__textarea {
        padding: 5rem 2.7rem 4.2rem 20rem;
        transform: translateY(50px);
        color: $font-color-white;
        background-color: $color-main;

        @include mq(sp) {
            width: 100%;
            padding: 1rem;
            transform: none;
            box-sizing: border-box;
        }
    }

    &__textarea-title {
        font-size: 2.5rem;
        line-height: calc(33 / 25);
        margin-left: 5rem;

        @include mq(sp) {
            margin: 0.9rem 0 0 1rem;
            font-size: 2rem;
            line-height: calc(25 / 20);
        }
    }

    &__textarea-text {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
        margin: 1.7rem 0 0 5rem;
        // white-space: nowrap;

        @include mq(sp) {
            margin-left: 2rem;
            white-space: normal;
        }
    }
}

.works {
    width: 100%;
    padding: 8rem 0 3rem;


    @include mq(sp) {
        padding: 5rem 3rem 4.2rem;

    }

    &__inner {
        margin-inline: auto;
        padding: 0 3rem;

        @include mq(sp) {
            padding: 0 2rem;
        }
    }

    &__contents {
        padding: 7rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: calc(40 / 960 * 100%);


        @include mq(sp) {
            padding: 3.7rem 0 0rem;
            grid-template-columns: 1fr;
            row-gap: 1.6rem;
        }
    }

    &-item {
        width: 100%;
        max-width: none;
        // object-fit: cover;


        @include mq(sp) {
            width: 100%;
            max-width: 100%;
        }

    }

    &-item__image {
        width: 100%;
        cursor: pointer;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &-item__textarea {
        padding-top: 2rem;
        font-size: 1.6rem;
        line-height: calc(25 / 16);

        // 1つ目だけSPで横並び
    &--row {
        @include mq(sp) {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

        @include mq(sp) {
            padding-top: 1rem;
            gap: 1rem;
        }
    }

    &-item__text {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
        padding-top: 0.45rem;
        white-space: nowrap;
        cursor: pointer;
    }
}

.news {
    padding: 6rem 0 4rem;
    background-color: $color-background;
     @include mq(sp) {
        padding: 3rem 0;
    }

    &__title {
        padding: 1.5rem;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 6rem;
        justify-content: space-between;
        margin: 5rem 2.5rem;

        @include mq(sp) {
            display: flex;
            flex-direction: column;
            margin: 2rem 3rem;
        }
    }

    &__contents {
        background-color: #fff;
        flex: 1;

        h3 {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            height: 5rem;
            background-color: $color-main;
            color: $font-color-white;
            font-size: 2rem;
            line-height: calc(33 / 20);
        }


    }

    &__lists {
        position: relative;
    }

    &__list {
        margin: 3rem 0 0;
        padding-bottom: 1.6rem;
        border-bottom: solid $color-main 0.1px;
    }

    &__list:nth-child(2) {
        margin-top: 2rem;
        padding-bottom: 1.6rem;
    }

    &__list:nth-child(3) {
        margin-top: 2rem;
        padding-bottom: 1.6rem;
    }

    &-item {
        display: flex;
        margin: 0 2.5rem 0;
        position: relative;

    }


    &__date {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        white-space: nowrap;
    }

    &__text {
        font-size: 1.8rem;
        line-height: calc(25 / 18);
        margin-left: 6.9rem;

        @include mq(sp) {
            margin-left: 1rem;
        }
    }

    &__more {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        height: 6rem;
        color: $color-main;


        span {
            position: absolute;
            top: -10%;
            right: 10%;
            transition: transform 0.3s ease;
        }

        img {
            width: 8rem;
            height: 100%;
            padding-top: 1.5rem;
            transition: transform 0.3s ease;
        }

        &:hover {

            span,
            img {
                transform: translateX(10px);
            }
        }
    }

}

.company {
    width: 100%;
    padding: 8rem 0 13rem;

    @include mq(sp) {
        padding: 5rem 0;
    }


    &__inner {
        padding: 0 3rem;

        @include mq(sp) {
            padding: 0 2rem;
        }
    }

    &__title {}

    &__item {
        display: flex;
        margin-top: 6.8rem;
        position: relative;

        @include mq(sp) {
            margin-top: 3.8rem;
            display: flex;
            flex-direction: column;
        }
    }

    &__map {
        width: 65%;
        aspect-ratio: 600 / 400;
        position: relative;
        overflow: hidden;
        z-index: 3;

        @include mq(sp) {
            width: 100%;
        }
    }

    &__map iframe {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__textarea {
        background-color: $color-main;
        color: $font-color-white;
        padding: 4.9rem 3rem 7rem 21.5rem;
        position: absolute;
        top: 49%;
        left: 46%;
        max-width: 50rem;
        width: 100%;
        z-index: 1;

        @include mq(sp) {
            position: static;
            max-width: 100%;
            width: 100%;
            margin-top: 2rem;
            padding: 2rem;
            font-size: 2rem;
            line-height: calc(33 / 20);
        }

    }

    .first__text {

        font-size: 2rem;
        line-height: calc(33 / 20);
    }

    &__textarea-text {
        position: absolute;
        font-size: 1.6rem;
        line-height: calc(25 / 16);
        margin: 1.7rem 0 0 5rem;
        left: auto;
        right: 45.5%;
    }

    &__address {
        font-size: 1.6rem;
        line-height: 25 / 16;
        margin-top: 0.5rem;

        span {}

        @include mq(sp) {
            margin-top: 0.7rem;
        }
    }

    .address-break {}

    &__phone {
        font-size: 1.6rem;
        line-height: calc(16 / 25);

        .tel-pc {
            font-size: 2.5rem;
            line-height: calc(25 / 25);
        }

        @include mq(sp) {
            margin-top: 1.2rem;
        }
    }

    &__email {
        font-size: 1.6rem;
        line-height: calc(25 / 16);

        @include mq(sp) {
            margin-top: 1.9rem;
        }
    }
}

.contact {
    background-color: $color-background;
    padding: 8.5rem 0 8rem;

    &__inner {
        padding: 0 3rem;
        margin-inline: auto;

        @include mq(sp) {
            padding: 0 2rem;
        }
    }

    &__lead {
        font-size: 2rem;
        line-height: calc(33 / 20);
        margin: 3.5rem 0 0 9rem;
    }

    &__form {
        width: 100%;
        max-width: 80rem;
        margin: 7rem auto 0;
        display: flex;
        flex-direction: column;
        column-gap: 5rem;
        row-gap: 5rem;

    }

    &__row {
        display: flex;
        align-items: center;
    }

    // 左側のラベル
    &__row>label,
    &__row>p {
        width: 17rem;
        flex-shrink: 0;
        font-size: 2rem;
        line-height: calc(33 / 20);
    }

    // テキスト入力
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 1rem;
        border: none;
        background: #fff;
        color: #A0A0A0;
        font-size: 1.8rem;
        line-height: calc(25 / 18);


    }

    textarea {
        min-height: 20rem;
        resize: vertical;

    }

    select {
        cursor: pointer;
    }

    &__radio {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 7.4rem;

        label {
            display: flex;
            align-items: center;
            gap: 1.9rem;
            width: auto;
            font-size: 1.8rem;
            line-height: calc(25 / 18);
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        width: 2rem;
        height: 2rem;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        position: relative;
    }

    input[type="radio"]:checked {
        border-color: $color-main;
    }

    input[type="radio"]:checked::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        background: $color-main;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;

        width: 2rem;
        height: 2rem;
        border: 2px solid #fff;
        border-radius: 0;
        background: #fff;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background: $color-main;
        border-color: $color-main;
    }

    input[type="checkbox"]:checked::before {
        content: "✓";
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 1.4rem;
        transform: translate(-50%, -50%);
    }

    &__row-content {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        textarea {
            margin-top: 1rem;
        }
    }

    &__row-check {
        display: flex;
        flex-direction: column;

    }

    &__check {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem 3rem;
        margin-top: 1rem;


        label {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: auto;
            font-size: 1.8rem;
            line-height: calc(25 / 18);
        }
    }

    &__row-policy {
        display: flex;
        flex-direction: column;

    }

    &__policy {
        width: 100%;
        height: 30rem;
        padding: 2rem;
        background: #fff;
        border: 1px solid #ddd;
        overflow: auto;

        p {
            font-size: 1.8rem;
            line-height: calc(31 / 18);
            white-space: pre-line;
        }
    }

    &__btn {
        width: 30rem;
        height: 5rem;
        margin: 4rem auto 0;
        border: none;
        background: $color-main;
        color: #fff;
        border: solid 1px $color-main;
        font-size: 2rem;
        line-height: calc(33 / 20);
        text-align: center;
        cursor: pointer;
        transition: .3s;

        &:hover {
            opacity: .8;
            color: $color-main;
            background-color: $font-color-white;
        }
    }

    @include mq(sp) {
        .contact {
            padding: 5rem 0;

            &__inner {
                padding: 0 2rem;
            }

            &__lead {
                margin: 3rem 0 0;
                font-size: 1.6rem;
                line-height: 1.8;
            }

            &__form {
                margin-top: 4rem;
                row-gap: 3rem;
            }

            // ラベルと入力欄を縦並び
            &__row {
                flex-direction: column;
                align-items: stretch;
                gap: 1rem;
            }

            &__row>label,
            &__row>p {
                width: 100%;
                font-size: 1.6rem;
            }

            // 内容入力
            &__row-content {
                gap: 1rem;
            }

            // ラジオボタン
            &__radio {
                gap: 3rem;
                justify-content: flex-start;

                label {
                    font-size: 1.6rem;
                    gap: 1rem;
                }
            }

            // 入力フォーム
            input[type="text"],
            input[type="email"],
            select,
            textarea {
                font-size: 1.6rem;
                padding: 1rem;
            }

            textarea {
                min-height: 18rem;
            }

            // チェックボックス
            &__check {
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem 2rem;

                label {
                    font-size: 1.5rem;
                    gap: .8rem;
                }
            }

            // 個人情報保護方針
            &__policy {
                height: 22rem;
                padding: 1.5rem;

                p {
                    font-size: 1.4rem;
                    line-height: 1.8;
                }
            }

            // ボタン
            &__btn {
                width: 100%;
                height: 5rem;
                margin-top: 3rem;
                font-size: 1.8rem;

            }

        }
    }
}


.footer {
    padding: 6rem 0 0 0;


    &__company {
        // margin: 3.3rem;
        text-align: center;
        padding: 2rem 0 3rem;
        font-size: 2rem;
        line-height: calc(33 / 20);

    }



    &__nav {
        position: relative;
        padding: 3rem 4rem;
        border-top: solid 0.1px;
    }

    &__list {

        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;

        li {
            list-style: none;
        }

        a {
            color: $font-color-black;
            font-size: 1.8rem;
            line-height: calc(33 / 18);
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__sns {
        margin-bottom: 3rem;
        padding-bottom: 5rem;

        .sns-list {
            display: flex;
            justify-content: center;
            gap: 3rem;

            li {
                list-style: none;
            }

            a {
                display: block;
                transition: 0.3s;

                &:hover {
                    opacity: 0.7;
                }
            }

            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    &__copyright {
        background-color: $color-main;
        color: #fff;
        font-size: 2rem;
        line-height: calc(33 / 20);
        text-align: center;
        padding: 3rem 0;
    }

    @include mq(sp) {
        .footer {
            padding-top: 4rem;

            &__company {
                width: calc(100% - 4rem);
                margin: 0 auto;
                padding: 0 0 2rem;
                font-size: 1.8rem;
                line-height: 1.8;
                border-bottom: 1px solid #999;
            }

            &__nav {
                padding: 2.5rem 2rem;
                border-top: none;
            }

            &__list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem 1rem;
                justify-items: center;

                li {
                    width: 100%;
                }

                a {
                    font-size: 1.6rem;
                    line-height: 1.6;
                }
            }

            &__sns {
                padding-bottom: 3rem;
                margin-bottom: 0;

                .sns-list {
                    gap: 2.5rem;

                    img {
                        width: 2.6rem;
                        height: 2.6rem;
                    }
                }
            }

            &__copyright {
                padding: 2rem;
                font-size: 1.4rem;
                line-height: 1.6;
            }
        }
    }
}

// modal用SCSS
.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;

    &.is-open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bg {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, .8);
    }

    &__content {
        position: relative;
        width: 90%;
        max-width: 900px;
        z-index: 1;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__close {
        position: absolute;
        right: 0;
        top: -5rem;
        font-size: 4rem;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }
}